<div class="auth-container">
    <header class="app-secondary" [attr.loading]="loading ? '' : null">
        <h1>Konto erstellen</h1>
    </header>
    <main>
        <span class="logo">
            <img src="assets/logo.svg" alt="ess" height="40">
        </span>
        <div class="page-switcher" [class.long-mode]="page1Active && page2Active"
            [@changePage]="page" (@changePage.start)="animationStart($event)" (@changePage.done)="animationDone($event)">
            <div class="item" *ngIf="page1Active">
                <form #form1="ngForm" (ngSubmit)="submitForm1(form1)">
                    <div class="horizontal" style="margin-top: 10px;">
                        <span class="wrapper">
                            <label class="input" [class.invalid]="firstName.invalid  && (firstName.dirty || firstName.touched)">
                                <input #firstName="ngModel" [(ngModel)]="model.firstName" required type="text" placeholder="Vorname"
                                    autocomplete="off" autofocus name="first-name">
                            </label>
                            <p class="error-text" 
                                [class.visible]="firstName.invalid  && (firstName.dirty || firstName.touched) && firstName.errors.required">
                                Geben Sie einen Vornamen ein.
                            </p>
                        </span>
                        <span class="wrapper">
                            <label class="input" [class.invalid]="lastName.invalid  && (lastName.dirty || lastName.touched)">
                                <input #lastName="ngModel" [(ngModel)]="model.lastName" required type="text" placeholder="Nachname"
                                    autocomplete="off" name="last-name">
                            </label>
                            <p class="error-text"
                                [class.visible]="lastName.invalid  && (lastName.dirty || lastName.touched) && lastName.errors.required">
                                Geben Sie einen Nachnamen ein.
                            </p>
                        </span>
                    </div>
                    <span class="wrapper">
                        <label class="input" [class.invalid]="username.invalid  && (username.dirty || username.touched)">
                            <input #username="ngModel" [(ngModel)]="model.username" required type="text" placeholder="Benutzername"
                                autocomplete="off" name="username">
                        </label>
                        <p class="error-text"
                            [class.visible]="username.invalid  && (username.dirty || username.touched) && username.errors.required">
                            Geben Sie einen Benutzernamen ein.
                        </p>
                    </span>
                    <div class="horizontal">
                        <span class="wrapper">
                            <label class="input" [class.invalid]="password.invalid  && (password.dirty || password.touched)">
                                <input #password="ngModel" [(ngModel)]="model.password" required type="password" placeholder="Passwort"
                                    autocomplete="off" name="password">
                            </label>
                            <p class="error-text"
                                [class.visible]="password.invalid  && (password.dirty || password.touched) && password.errors.required">
                                Geben Sie ein Passwort ein.
                            </p>
                        </span>
                        <span class="wrapper">
                            <label class="input" [class.invalid]="password1.invalid  && (password1.dirty || password1.touched)">
                                <input #password1="ngModel" [(ngModel)]="model.password1" required type="password" placeholder="Passwort bestätigen"
                                    autocomplete="off" name="password1">
                            </label>
                        </span>
                    </div>
                    <div class="bottom-bar flex">
                        <a routerLink="/login">Stattdessen anmelden</a>
                        <button [disabled]="form1.invalid" class="app-secondary app-green" type="submit">Weiter</button>
                    </div>
                </form>
            </div>
            <div class="item" *ngIf="page2Active">
                <form #form2="ngForm">
                    <div class="head flex" style="text-align: left;">
                        {{ model.firstName }} {{ model.lastName }} <b>@{{ model.username }}</b>
                    </div>
                    <div class="wrapper">
                        <label class="input" [class.invalid]="email.invalid  && (email.dirty || email.touched)">
                            <input #email="ngModel" [(ngModel)]="model.email" required email type="text" placeholder="E-Mail Adresse"
                                autocomplete="off" name="email">
                        </label>
                    </div>
                    <div class="horizontal">
                        <span class="wrapper">
                            <label class="input" [class.invalid]="day.invalid  && (day.dirty || day.touched)">
                                <input #day="ngModel" [(ngModel)]="model.day" required pattern="(0[1-9]|[12]\d|3[01])" type="text" placeholder="Tag"
                                    autocomplete="off" name="day">
                            </label>
                        </span>
                        <span class="wrapper">
                            <label class="input select" [class.invalid]="month.invalid  && (month.dirty || month.touched)">
                                <div class="placeholder" *ngIf="model.month == null && !monthFocused">
                                    <label for="month">Monat</label>
                                </div>
                                <div class="control">
                                    <select #month="ngModel" [(ngModel)]="model.month" name="month" id="month" 
                                        (focus)="monthFocused = true" (blur)="monthFocused = false">
                                        <option></option>
                                        <option value="1">Januar</option>
                                        <option value="2">Februar</option>
                                        <option value="3">März</option>
                                        <option value="4">April</option>
                                        <option value="5">Mai</option>
                                        <option value="6">Juni</option>
                                        <option value="7">Juli</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">Oktober</option>
                                        <option value="11">November</option>
                                        <option value="12">Dezember</option>
                                    </select>
                                </div>
                            </label>
                        </span>
                        <span class="wrapper">
                            <label class="input" [class.invalid]="year.invalid  && (year.dirty || year.touched)">
                                <input #year="ngModel" [(ngModel)]="model.year" required pattern="^\d{4}$" type="text" placeholder="Jahr"
                                    autocomplete="off" name="year">
                            </label>
                        </span>
                    </div>
                    <div class="bottom-bar flex">
                        <button role="a" type="button" (click)="page = 'page1'">Zurück</button>
                        <button [disabled]="form2.invalid" class="app-secondary app-green" type="submit">Weiter</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
