.auth-container main {
    .page-switcher .item form {
        justify-content: space-between;

        span.wrapper {
            width: 100%;
        }

        .horizontal {
            display: flex;
            
            *:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}