<div class="login-container">
    <header>
        <h1>Anmelden</h1>
    </header>
    <main>
        <span class="logo">
            <img src="assets/logo.svg" alt="ess" height="40">
        </span>
        <div class="page-switcher" [class.long-mode]="page1Active && page2Active"
            [@changePage]="page" (@changePage.start)="animationStart($event)" (@changePage.done)="animationDone($event)">   
            <div class="item" *ngIf="page1Active">
                <form #usernameFrom="ngForm" class="item" (ngSubmit)="checkUsername(usernameFrom)">
                    <h3 class="head">Bei ess anmelden</h3>
                    <label class="input">
                        <input #username="ngModel" [(ngModel)]="model.username" minlength="3" type="text" placeholder="Benutzername" autocomplete="off"
                           autofocus name="username">
                    </label>
                    <div class="controls">
                        <p class="error-text" [class.visible]="username.invalid">Diesen Benutzernamen gibt es nicht.</p>
                        <a href="/">Benutzername vergessen?</a>
                    </div>
                    <div class="bottom-bar">
                        <a href="/">Konto erstellen</a>
                        <button class="app-secondary app-blue" type="submit">Weiter</button>
                    </div>
                </form>
            </div>    
            <div class="item" *ngIf="page2Active">
                <form #loginFrom="ngForm" class="item">
                    <span class="head">
                        <button class="back-button" type="button" (click)="location.back()">Simone Zitrone</button>
                    </span>
                    <input type="hidden" name="username" value="Simone Zitrone">
                    <label class="input">
                        <input #password="ngModel" ngModel type="password" placeholder="Passwort" autocomplete="off"
                            autofocus name="password">
                    </label>
                    <div class="controls">
                        <p class="error-text">Das Passwort ist falsch.</p>
                    </div>
                    <div class="bottom-bar">
                        <a href="/">Passwort vergessen?</a>
                        <button class="app-primary app-blue" type="submit">Anmelden</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
