<span class="loader"></span>
<div class="logo-container">
    <img src="assets/logo.svg">
</div>
<div class="menu-container" [class.extended]="extended">
    <ul>
        <li>
            <span class="effect">
                <a routerLink="/">Dashboard</a>
            </span>
            <a routerLink="/">Dashboard</a>
            <div class="extension">
            </div>
        </li>
        <li>
            <span class="effect">
                <a routerLink="/courses">Kurse</a>
            </span>
            <a routerLink="/courses">Kurse</a>
        </li>
    </ul>
</div>
